@charset "utf-8";
*{margin:0; padding:0;}
html{font-size:20px;}
li{list-style:none;}
a{text-decoration:none;}
img{border:0 none; vertical-align:top;}
			
.clearfix:after{content:"";  display:block; clear:both; visibility:hidden; line-height:0; height:0; font-size:0;}
.clearfix{ *zoom:1;} 	


/*专题报道*/
.wrap{width:100%;}
.hdMain{position:relative; height:17.725rem;}
.zt_hd{position:fixed; top:0; left:0; width:100%; background:rgba(255,255,255,0.5); height:2.2rem; z-index:3;}
.zt_hd .hd_left{float:left; width:2.2rem; height:2.2rem; background:url(../images/back.png) no-repeat center center; background-size:2.2rem 2.2rem;}
.zt_hd .hd_right{float:right; width:2.2rem; height:2.2rem; background:url(../images/nav_share.png) no-repeat center center; background-size:2.2rem 2.2rem;}
.hdMain img{position:absolute; left:0; top:0; width:100%; height:17.725rem;}
.zt_detail{width:17.8rem; margin:0 auto; padding-top:0.65rem;}
.zt_detail h1{width:100%; font-size:0.9rem; line-height:1.25rem; font-weight:normal; color:#444; font-family:"Microsoft YaHei";}
.zt_sec{width:100%; padding:0.4rem 0 0.45rem; overflow:hidden; line-height:1.4rem;}
.zt_secLeft{float:left; text-align:left; overflow:hidden;}
.zt_secLeft li{float:left;}
.zt_secLeft li.zt_secImg{width:1.375rem; height:1.375rem; border-radius:50%;}
.zt_secLeft li.zt_secImg img{width:1.375rem; height:1.375rem; border-radius:50%;}
.zt_secLeft li.zt_secName{font-size:0.7rem; color:#000; padding-left:0.35rem;}
.zt_secLeft li.zt_secJob{font-size:0.6rem; color:#666; padding-left:0.25rem;}
.zt_secRight{float:right; text-align:right;}
.zt_secRight span{background:url(../images/main_want.png) no-repeat left center; background-size:0.75rem 0.65rem; color:#999; padding-left:1.075rem; font-size:0.6rem; display:inline-block;}
.zt_secCon{font-size:0.75rem; line-height:1.125rem; color:#464646; padding:0 0 2.25rem 0;}
.zt_secConImg{width:100%; padding:0.5rem 0 0.65rem; overflow:hidden;}
.zt_secConImg li{float:left; position:relative; display:inline;}
.zt_secConImg li img{width:8.625rem; height:11.425rem;}
.zt_secConImg li span.zt_goodsBrand{position:absolute; left:0; top:0; width:100%; height:1.45rem; line-height:1.45rem; background:#222; color:#fff; font-size:0.65rem; text-align:center; overflow:hidden;}
.zt_secConImg li span.zt_goodsName{position:absolute; left:0; bottom:0.15rem; width:100%; height:1.1rem; line-height:1.1rem; font-size:0.65rem; color:#444;text-align:center; overflow:hidden;}
.zt_secConImg li:nth-child(1){margin-right:0.5rem;}

/*专题页—更多好看*/
.zt_moreLook{width:100%;}
.zt_moreLook h3{height:1.875rem; line-height:1.875rem; border-left:0.275rem solid #39ded6; padding-left:0.5rem; font-size:0.75rem; color:#333;}
.zt_moreList{width:17.75rem; margin:0 auto; padding-bottom:1rem;}
.zt_moreList li{float:left; background:#f5f5f5; color:#666; font-size:0.65rem; height:1.4rem; line-height:1.4rem; border-radius:0.65rem; padding:0 0.5rem; display:inline; margin:0.95rem 0.45rem 0 0;}
.zt_moreList li a{width:100%; height:100%; color:#666; display:inline-block; position:relative;}
.zt_moreList li a span{position:absolute; right:0; top:-0.5rem; height:0.65rem; line-height:0.65rem; color:#fff; background:#39ded6; font-size:0.5rem; padding:0 0.15rem; border-radius:0.3rem;}

.zt_waterFlow{width:17.75rem; margin:0 auto;}
.zt_waterFlow ul{float:left; width:8.625rem;}
.zt_waterFlow ul li{float:left; width:8.625rem; margin-top:0.5rem;}
.zt_waterFlow ul li a img{width:8.625rem;}
.zt_waterFlow ul:nth-child(1){margin-right:0.5rem;}

.zt_footFix{width:100%; position:fixed; left:0; bottom:0; height:2.6rem; border-top:1px solid #e2e2e2; background:#fff; overflow:hidden; z-index:100;}
.zt_footFixUl li{float:left; height:2.6rem}
.zt_footFixUl li.zt_fixOne{width:8.65rem; padding:0.4rem 0.25rem 0 0.5rem;}
.zt_footFixUl li.zt_fixOne input{border:0 none; width:100%; font-size:0.9rem; height:1.675rem; line-height:1.675rem; color:#666;}
.zt_footFixUl li.zt_fixComm{width:2.5rem;}
.zt_footFixUl li.zt_fixComm span{display:block; width:100%; height:1.45rem; background:url(../images/tab_comments.png) no-repeat center 0.625rem; background-size:0.875rem 0.8rem;}
.zt_footFixUl li.zt_fixComm p{width:100%; height:0.7rem; line-height:0.7rem; font-size:0.5rem; color:#666; text-align:center; overflow:hidden;}
.zt_footFixUl li.zt_fixDanmu{width:2.5rem;}
.zt_footFixUl li.zt_fixDanmu span{display:block; width:100%; height:1.45rem; background:url(../images/tab_open.png) no-repeat center 0.625rem; background-size:1.05rem 0.7rem;}
.zt_footFixUl li.zt_fixDanmu.zt_closeDanmu span{background:url(../images/tab_guan.png) no-repeat center 0.625rem; background-size:0.95rem 0.7rem;}
.zt_footFixUl li.zt_fixDanmu p{width:100%; height:0.7rem; line-height:0.7rem; font-size:0.5rem; color:#666; text-align:center; overflow:hidden;}
.zt_footFixUl li.zt_fixWant{width:4.325rem; background:#0ad0c0;}
.zt_footFixUl li.zt_fixWant span{display:block; width:100%; height:1.5rem; background:url(../images/tab_want.png) no-repeat center bottom; background-size:1.2rem 1.075rem;}
.zt_footFixUl li.zt_fixWant p{width:100%; height:0.75rem; line-height:0.75rem; font-size:0.5rem; color:#fff; overflow:hidden; text-align:center;}


.zt_reply{width:100%; padding-left:0.4rem; position:fixed; left:0; bottom:0; height:1.675rem; line-height:1.675rem; padding:0.45rem 0; background:#fff; border-top:1px solid #adb3bd; border-bottom:1px solid #adb3bd;}
.zt_replyLeft{float:left; display:inline; margin-left:0.4rem; width:15.2rem; height:1.65rem; background:#f2f2f2; border-radius:0.25rem;}
.zt_replyLeft input{border:0 none; background:#f2f2f2; border-radius:0.25rem; width:100%; text-indent:0.45rem; height:1.65rem; line-height:1.65rem; color:#999; font-size:0.75rem;}
.zt_replyRight{float:left; background:none; border:0 none; font-size:0.8rem; color:#000; margin-left:0.5rem; width:2.4rem; height:1.675rem;}

/*照片详情页*/
.xq_hd{position:fixed; left:0; top:0; width:100%; height:2.2rem; background:rgba(0,0,0,1);}
.xq_hd .hd_left{float:left; width:2.2rem; height:2.2rem; background:url(../images/xq_1.png) no-repeat center center; background-size:2.2rem 2.2rem;}
.xq_hd .hd_right{float:right; width:2.2rem; height:2.2rem; background:url(../images/xq_2.png) no-repeat center center; background-size:2.2rem 2.2rem;}
.xq_con{width:100%; position:relative; overflow:hidden;}
.xq_con img{width:18.75rem; height:30.15rem;}
.xq_one{position:absolute; left:11.8rem; top:10.9rem; z-index:5;}
.xq_one span{position:absolute; left:0; top:0; width:0.25rem; height:0.25rem; background:rgba(255,255,255,0.7); border-radius:50%;}
.xq_one a{position:absolute; left:0.25rem; top:0.25rem; width:1.75rem; height:1.75rem; background:rgba(30,218,202,0.8); border-radius:5px; text-align:center;}
.xq_one a img{width:1.75rem; height:1.75rem; border-radius:5px;}

.xq_comment{width:100%; position:fixed; left:0; bottom:2.6rem; background:rgba(0,0,0,0.6); z-index:100;}
.zt_moreList.xq_comBg li{background:#333; color:#fff;}
.zt_moreList.xq_comBg li a{color:#fff;}
.zt_footFix.xq_blackBg{background:#333; border-top:1px solid #000;}
.zt_footFix.xq_blackBg .zt_footFixUl li.zt_fixOne{width:11.15rem;}
.zt_footFix.xq_blackBg .zt_footFixUl li.zt_fixOne input{background:#333; color:#fff;}

/*弹窗*/
.popWin{position:absolute; left:0; top:0; z-index:900; width:100%; height:100%;}
.popWin .popMask{position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.4);}
.popCon{position:relative; width:15.25rem; height:10.6rem; background:#fff; border-radius:0.5rem; z-index:999; margin:0 auto; top:9.25rem;}
.popCon .popClose{position:absolute; right:-0.15rem; top:-0.4rem; width:1.275rem; height:1.275rem; background:url(../images/pop_close.png) no-repeat 0 0; background-size:1.275rem 1.275rem;}
.popCon .popBrand{position:absolute; left:0; top:0.7rem; width:3.1rem; height:1.1rem; line-height:1.1rem; border-radius:0 0.6rem 0.6rem 0; text-align:center; color:#fff; font-size:0.75rem; background:#ff5e5e;}
.popCon .popBrandName{width:100%; height:2.425rem; line-height:2.425rem; text-align:center; overflow:hidden; color:#4e4e4e; font-size:1.97rem; padding-top:1.4rem;}
.popBrandDes{width:100%; height:1.375rem; line-height:1.375rem; color:#666; font-size:0.8rem; text-align:center;}
.popOpera{width:100%; height:1.65rem; padding:0.3rem 0; margin-top:0.7rem; background:#12cdbc;}
.popOpera a{float:left; width:50%; height:1.65rem; line-height:1.65rem; text-align:center; color:#fff; box-sizing:border-box;}
.popOpera a:nth-child(1){border-right:1px solid #0ff;}
.popTips{width:12.5rem; padding-left:2.5rem; height:1.1rem; line-height:1.1rem; color:#666; font-size:0.6rem; background:url(../images/pop_1.png) no-repeat 1.4rem center; background-size:0.75rem 0.675rem; margin-top:0.8rem;}

/*分享*/
.zt_shareCon{width:100%; height:13.275rem; position:fixed; left:0; bottom:0; background:rgba(255,255,255,0.8); z-index:10;}
.zt_shareConHd{position:relative; width:100%; text-align:center; height:2.575rem; line-height:2.575rem; border-bottom:1px solid #bdbdbd; font-size:0.9rem; color:#000;}
.zt_shareConHd span{position:absolute; right:0; top:0; width:2.575rem; height:2.575rem; background:url(../images/share_close.png) no-repeat center center; background-size:0.75rem 0.75rem;}
.zt_shareUl{width:100%; padding-top:0.675rem;}
.zt_shareUl li{float:left; width:25%; text-align:center; margin-top:0.5rem;}
.zt_shareUl li img{width:2.85rem; height:2.85rem;}
.zt_shareUl li p{width:100%; height:1.3rem; line-height:1.3rem; text-align:center; color:#333; font-size:0.65rem;}

/*签到*/
.popSign{width:12.5rem; position:relative; z-index:999; margin:0 auto; background:#fff; border-radius:0.5rem; top:7rem; padding:0 0 0.775rem 0;}
.popSign .popClose{position:absolute; right:-0.15rem; top:-0.4rem; width:1.275rem; height:1.275rem; background:url(../images/pop_close.png) no-repeat 0 0; background-size:1.275rem 1.275rem;}
.popSignTop{width:100%; background:url(../images/pop_2.png) no-repeat center 0.375rem #39ded6; background-size:8.375rem 2.45rem; border-radius:0.5rem 0.5rem 0 0; padding-top:3rem;}
.popSignTopOne{width:100%;height:1.775rem; line-height:1.775rem; color:#fff; font-size:1.05rem; text-align:center; background:url(../images/pop_5.png) no-repeat center center; background-size:10.225rem 1.775rem; }
.popSignTopOne span{padding:0 0.375rem;}
.popSignTopTwo{width:100%; height:1.95rem; line-height:1.95rem; color:#fff; font-size:1rem; font-weight:bold; text-align:center; padding:0.55rem 0 0.45rem;}
.popSignTopTwo span{font-size:1.35rem;}
.popPerInfo{width:100%; height:1.575rem; padding:0.2rem 1rem; background:#f1f0f0; box-sizing:border-box;}
.popPerInfo .popPerPoint{float:left; }
.popPerInfo .popPerPoint li{float:left; height:1.15rem; line-height:1.15rem;}
.popPerInfo .popPerPoint li img{width:1.15rem; height:1.15rem; border-radius:50%;}
.popPerInfo .popPerPoint li:nth-of-type(2){font-size:0.6rem; color:#666; padding-left:0.575rem;}
.popPerInfo .popPerMoney{float:right; height:1.15rem; line-height:1.15rem; font-size:0.6rem; color:#666; padding-right:0.85rem; background:url(../images/pop_6.png) no-repeat right center; background-size:0.3rem 0.55rem;}
.popTodayTask{width:10.75rem; margin:0 auto; padding:0.5rem 0 0 0;}
.popTodayTask h3{font-size:0.75rem; color:#333; height:1.25rem; line-height:1.25rem;}
.popTaskList{width:100%; overflow:hidden;}
.popTaskList li{float:left; width:100%; height:1.35rem; line-height:1.35rem; font-size:0.6rem; border:2px solid #e2e2e2; border-radius:3px; box-sizing:border-box; margin-top:0.25rem; padding:0 0.3rem;}
.popTaskFriend{float:left; padding-left:1.45rem; background:url(../images/pop_4.png) no-repeat left center; background-size:0.75rem 0.75rem;}
.popTaskShare{float:left; padding-left:1.45rem; background:url(../images/pop_3.png) no-repeat left center; background-size:0.75rem 0.75rem;}
.popTaskList li span{float:right;}
.popMorePoint{width:100%; text-align:center; padding-top:0.5rem;}
.popMorePoint span{display:inline-block; margin:0 auto; padding:0 0.925rem; height:1.6rem; line-height:1.6rem; color:#fefefe; background:#39ded6; border-radius:0.65rem;}

